*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.grid-container{
    margin-top: 0.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.8rem;
}